.body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 750px;
    width: 1000px;
    background-color: rgb(71, 105, 134);
    margin: auto;
    margin-left: 230px;
    margin-top: 35px;

}
.left-panel {
    background-color: rgb(55, 121, 121);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 29px;
    width: 400px;
    text-align: center;
}
.box {
    padding: 12px;
    width: 50%;
    margin-top: 20px;
    background-color:aliceblue;
    border-color: black;
    border-radius: 20px;
}
#submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 20px;
    background-color: rgb(101, 118, 118);
    border-radius: 20px;
}
#submit:hover {
    cursor: pointer;
    background-color: rgb(23, 100, 100);
}
.right-panel {
    display: flex;
}
.right-panel img {
    width: 520px;
    height: 750px;
}